<div class="">
            <!-- Header Start -->
            <div class="header home">
                <div class="container-fluid">
                    <div class="header-top row align-items-center">
                        <div class="col-lg-3">
                            <div class="brand">
                                <a href="index.html">
                                    Consultorio HN
                                    <!-- <img src="img/logo.png" alt="Logo"> -->
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="topbar">
                                <div class="topbar-col">
                                    <div class="topbar-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="navbar navbar-expand-lg bg-light navbar-light">
                                <a href="#" class="navbar-brand">MENU</a>
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                    <div class="navbar-nav ml-auto">
                                        <a href="index.html" class="nav-item nav-link active">Inicio</a>
                                        <a href="about.html" class="nav-item nav-link">Historial</a>
                        
                                        
                                        <a href="#" class="btn">Ingresar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="hero row align-items-center">
                        <div class="col-md-4">
                            <div class="form">
                                <h3>Ingresar Datos</h3>
                                <form>
                                    <input class="form-control" type="text" placeholder="Nombre del paciente">
                                    <input class="form-control" type="text" placeholder="Estatura Padre">
                                    <input class="form-control" type="text" placeholder="Estatura Madre">
                                    <div class="control-group">
                                        <select class="custom-select">
                                            <option selected>Choose a service</option>
                                            <option value="1">Calculo de estatura</option>
                                            <option value="2">Calculo de peso</option>
                                           
                                        </select>
                                    </div>
                                    <textarea class="form-control" placeholder="Comment"></textarea>
                                    <button [routerLink]="['/dashboard-inicio/grafica']"  routerLinkActive="active"  class="btn btn-block"> calcular</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <div class="hero row align-items-center">
                        <div class="col-1-md-5">
                            <div class="form">
                                
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            